{{ define "main" }}
{{ $contactCSS := resources.Get "css/components/contact.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $contactCSS.RelPermalink }}" integrity="{{ $contactCSS.Data.Integrity }}">


<div class="main-wrapper">

    <div class="contact-content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}

        {{ with .Page.Params.linkedIn }}
            <a href="{{ . }}"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
        {{ end }}
    </div>

    {{ with .Page.Params.mapsUrl }}
    <div class="contact-map">
        <iframe
            title="Google Maps"
            src="{{ . }}"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    {{ end }}
</div>
{{ end }}

