{{ define "main" }}
<!--{{ $styleCSS := resources.Get "css/style.css" | minify | fingerprint }}-->
<!--<link rel="stylesheet" href="{{ $styleCSS.RelPermalink }}" integrity="{{ $styleCSS.Data.Integrity }}">-->
{{ $experiencesCSS := resources.Get "css/components/experiences.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $experiencesCSS.RelPermalink }}" integrity="{{ $experiencesCSS.Data.Integrity }}">

<!--{{ $size := .Params.size }}-->


<div class="main-wrapper">
    <h1>{{ .Title }}</h1>
    <div class="content-wrapper">

        <!--  Expansion Panel -->
        {{ partial "expansion-panel.html" (dict
            "pages" .Pages
        ) }}


        <div>
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}