{{ define "main" }}
    {{ $styleCSS := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styleCSS.RelPermalink }}" integrity="{{ $styleCSS.Data.Integrity }}">
    {{ $servicesCSS := resources.Get "css/components/services.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $servicesCSS.RelPermalink }}" integrity="{{ $servicesCSS.Data.Integrity }}">
    {{ $js := resources.Get "js/rotator.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

    {{ $size := .Params.size }}


    <div class="main-wrapper">
        <h1>{{ .Title }}</h1>
        <div class="content-wrapper">

            <div class="rotator-container">
                {{ range $img := .Page.Params.images }}
                    {{ with resources.Get $img }}
                        <img src="{{ .RelPermalink }}" class="rotator-item" style="max-width: {{ $size }}px">
                    {{ end }}
                {{ end }}
            </div>
            <div>
                {{ .Content }}
            </div>
        </div>
    </div>
{{ end }}