{{ define "main" }}
    {{ $styleCSS := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styleCSS.RelPermalink }}" integrity="{{ $styleCSS.Data.Integrity }}">
    {{ $servicesCSS := resources.Get "css/components/services.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $servicesCSS.RelPermalink }}" integrity="{{ $servicesCSS.Data.Integrity }}">

    {{ $size := .Params.size | default "300" }}


    <div class="main-wrapper">
        <h1>{{ .Title }}</h1>
        <div class="content-wrapper">
            {{ with resources.Get .Params.image }}
                <img src="{{ .RelPermalink }}" style="max-width: {{ $size }}px">
            {{ end }}
            <div>
                {{ .Content }}
            </div>
        </div>
    </div>
{{ end }}