:root {
    --navbar-height: 90px;
}

html,
body {
    font-family: sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    background-color: #dddddd;

    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    max-width: 1280px;
    width: 100%;
    background-color: #dddddd;
    margin: var(--navbar-height) auto 0;

    .main-wrapper {
        /*Config for all pages*/
        padding: 2rem;
        height: 100%;
    }
}

/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
    main {
        max-width: 1024px;
        background-color: aqua;
    }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
    main {
        max-width: 768px;
        /*background-color: green;*/
        background-color: #dddddd;
    }
}

