.main-wrapper {
    padding: 2rem;
    display: flex;
    height: 100%;
}

.circle-wrapper {
    @media only screen and (max-width: 900px) {
        display: none;
    }

}

.circle {

    margin: auto 0;
    min-width: 450px;
    width: 450px;
    height: 450px;
    border-radius: 40% 80% 40% 80%;

    background-color: #fd8b0d;
    background-image:
            radial-gradient(circle at 30% 30%, rgba(255,255,255,0.3), rgba(255,255,255,0) 70%);
    background-blend-mode: screen;
    box-shadow:
            inset 0 1px 2px rgba(255,255,255,0.6),   /* inner top shine */
            inset 0 -2px 4px rgba(0,0,0,0.3),        /* inner bottom shadow */
            0 4px 10px rgba(0,0,0,0.3);              /* outer shadow */

    display: flex;
    justify-content: center;
    align-items: center;


    .rotator {
        left: -20px;
        top: -30px;
        position: relative;
        display: inline-block;

        .rotator-item-wrapper {
            position: relative;
        }

        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        text-transform: uppercase;
    }

    .rotator-description {
        margin: 0;
    }

    .rotator-item {

        margin: 10px 0 0 35px;
        transform: scale(0);
        position: absolute;

        &.active {
            transform: scale(1);
        }

        font-weight: bold;
        width: 350px;
        animation: reveal 2.5s infinite; /*also adjust rotator.js*/
    }
}

@keyframes reveal {
    0% {opacity:0;}
    40% {opacity:1;}
    50% {opacity: 0.5;}
    70% {opacity:0.1;}
    100% {opacity:0;}
}

