.content-wrapper {
    position: relative;
    div::after {
        content: "";
        display: block;
        clear: both;
    }
}

.rotator-container {
    width: 500px;
    height: 400px;
    float: right;
    margin: 0 0 25px 25px;
    @media (max-width: 410px) {
        margin: unset;
    }

}