{{ $footerCSS := resources.Get "css/components/footer.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $footerCSS.RelPermalink }}" integrity="{{ $footerCSS.Data.Integrity }}">

{{ $footer := site.GetPage "meta/footer" }}
<footer>
    <div class="footer-group-wrapper">
        {{ range $footer.Params.links }}
        <div class="footer-group">
            <p>{{ .groupName }}</p>
            {{ range .fields }}
                {{ if .iconName }}
                    <a href="{{ .url | relURL }}"><i class="{{ .iconName }}"></i>{{ .name }}</a>
                {{ else }}
                    <a href="{{ .url | relURL }}">{{ .name }}</a>
                {{ end }}
            {{ end}}
        </div>
        {{ end}}
    </div>

    <a class="all-rights-reserved" href="{{ $footer.Params.footerLink | relURL }}">{{ $footer.Params.footerText }}</a>
</footer>
