{{ $headerCSS := resources.Get "css/components/header.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $headerCSS.RelPermalink }}" integrity="{{ $headerCSS.Data.Integrity }}">

{{ $js := resources.Get "js/header.js" | resources.Minify | resources.Fingerprint }}

{{ $pages := site.GetPage "meta/header" }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>



<header>
    <nav class="nav">

        {{ $first := first 1 $pages.Params.pages }}
        {{ with index $first 0 }}
            {{ $img := resources.Get "images/codebranch.svg" }}
            <a href="/">
                <img src="{{ $img.RelPermalink }}"
                     alt="Code Branch"
                     class="nav-icon"
                >
            </a>
        {{ end }}

        <a class="nav-button" href="/">Home</a>

        <a class="nav-button desktop-only" href="/about/">About</a>
        <a class="nav-button desktop-only" href="/contact/">Contact</a>

        <a class="nav-button mobile-only" href="javascript:void(0);" onclick="toggle()">
            <i class="fa fa-bars fa-2xl"></i>
        </a>
    </nav>
    <div class="hamburger-options mobile-only" id="hamburger-options">
        <a class="nav-button" href="/about/">About</a>
        <a class="nav-button" href="/contact/">Contact</a>
    </div>
</header>
