{{ $headerCSS := resources.Get "css/components/header.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $headerCSS.RelPermalink }}" integrity="{{ $headerCSS.Data.Integrity }}">

{{ $pages := site.GetPage "meta/header" }}
{{ $js := resources.Get "js/header.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>



<header>
    <nav class="nav">

        {{ with .Site.GetPage "meta/header" }}
            {{ range .Params.pages }}
                {{ if .pageIcon }}
                    {{ $img := resources.Get "images/codebranch.svg" }}
                    <a href="{{ .pageUrl }}">
                        <img src="{{ $img.RelPermalink }}"
                             alt="Code Branch"
                             class="nav-icon"
                        >
                    </a>
                {{ else }}
                    <a class="nav-button desktop-only" href="{{ .pageUrl | relURL }}">{{ .pageName }}</a>
                {{ end }}
            {{ end }}
        {{ end }}

        <a class="nav-button mobile-only" href="javascript:void(0);" onclick="toggle()">
            <i class="fa fa-bars fa-2xl"></i>
        </a>
    </nav>
    <div class="hamburger-options mobile-only" id="hamburger-options">
        {{ with .Site.GetPage "meta/header" }}
            {{ range .Params.pages }}
                {{ if .pageName }}
                    <a class="nav-button" href="{{ .pageUrl | relURL }}">{{ .pageName }}</a>
                {{ end }}
            {{ end }}
        {{ end }}

    </div>
</header>
