{{ define "main" }}
{{ $indexCSS := resources.Get "css/components/index.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $indexCSS.RelPermalink }}" integrity="{{ $indexCSS.Data.Integrity }}">
{{ $js := resources.Get "js/rotator.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>


<div class="main-wrapper">

    <div class="left-panel">
        <p>index</p>
        <h1>{{ .Params.title }}</h1>
        <div>{{ .Content }}</div>
    </div>

    <div class="circle-wrapper">
        <div class="circle">
            <div class="rotator">
                <p class="rotator-description">Wij helpen je met</p>

                <div class="rotator-item-wrapper">
                    {{ range .Params.rotator }}
                    <p class="rotator-item">{{ .item }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

</div>



{{ end }}